/code/.web-server-pid
/code/app/config/parameters.yml
/code/build/
/code/phpunit.xml
/code/var/*
!/code/var/cache
/code/var/cache/*
!code/var/cache/.gitkeep
!/code/var/logs
/code/var/logs/*
!code/var/logs/.gitkeep
!/code/var/sessions
/code/var/sessions/*
!code/var/sessions/.gitkeep
!code/var/SymfonyRequirements.php
/code/vendor/
/code/web/bundles/
.idea