# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    secret: ThisTokenIsNotSoSecretChangeIt

    # weather api data
    weather_api.use: '%weather_api.use%'
    weather_api.url: '%weather_api.url%'
    weather_api.appId: '%weather_api.appId%'
    weather_api.city: '%weather_api.city%'

    # charts config
    chart.limit.all: '%chart.limit.all%'
    chart.limit.day: '%chart.limit.day%'
    chart.limit.week: '%chart.limit.week%'
    chart.limit.month: '%chart.limit.month%'
    chart.cistern.capacity: '%chart.cistern.capacity%'